/* ------------------------------------ */
/* From: http://hg.openjdk.java.net/openjfx/2.2/master/rt/raw-file/tip/javafx-ui-controls/src/com/sun/javafx/scene/control/skin/caspian/caspian.css  */

.slider *.thumb {
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 40 40 0 0;
    -fx-background-image: url("thumb.png");
}


/*
.slider.track {
    -fx-background-color: red;
}
*/



.button {
	-fx-background-color: black;
    -fx-border-color: white;
    -fx-border-width: 2;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.button:pressed {
	-fx-background-color: white;
	-fx-text-fill: black;
    -fx-border-color: gray;
}





