.root {
    -fx-base: white;
    -fx-font-weight: bold;
	-fx-font-size: 28px;
    -fx-light-text-color: black;
    
    
    
    /*
    -fx-padding: 10 10 10 10;
    -fx-margin: 10 10 10 10;
    */
}

.list-cell:filled:selected:focused, .list-cell:filled:selected {
    /*-fx-background-color: linear-gradient(#333 0%, #777 25%, #aaa 75%, #eee 100%);*/
    -fx-background-color: black;
    -fx-text-fill: white;
}

.list-cell {
	-fx-text-fill: black;
}

.list-cell:odd {
	-fx-background-color: white;
}

.list-cell:even {
	-fx-background-color: gray;
}

.list-cell:empty {
    -fx-opacity: 0;
}

.list-view {
	-fx-border-color: red;
	-fx-border-width: 3;
}


/*
.list-cell:filled:hover { 
    -fx-background-color: #00f;
    -fx-text-fill: white;
}
 */



/*
.button {
	-fx-background-color: white;
    -fx-border-color: black;
}

.button:pressed {
	-fx-background-color: black;
	-fx-text-fill: white;
    -fx-border-color: black;
}

.button:touch {
	-fx-background-color: black;
	-fx-text-fill: white;
    -fx-border-color: black;
}
 */
