.button {
	-fx-background-color: white;
    -fx-border-color: black;
    -fx-border-width: 2;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

.button:pressed {
	-fx-background-color: black;
	-fx-text-fill: white;
    -fx-border-color: black;
}

.button:touch {
	-fx-background-color: black;
	-fx-text-fill: white;
    -fx-border-color: black;
}